 
#title1 {
    text-align: center;
    color: #32cd32;
     font-family: "Trebuchet MS", Helvetica, sans-serif; 
     font-size: 40px;
      }

 #book_button1{
   margin-top: 20px;
   float:left;
   height: 200px;
   width: 200px;
   background-color: blue;
   margin-left: 60px;
   margin-right: 60px;

 }

.book2{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: red;
   margin-right: 60px;
 }


.book3{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: blue;
   margin-right: 60px;

 }  

  .book4{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: yellow;
 

 } 

 .book5{
    margin-top: 20px;
   float:left;
   height: 200px;
   width: 200px;
   background-color: yellow;
   margin-left: 60px;
   margin-right: 60px;

 }

.book6{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: purple;
   margin-right: 60px;
 }


.book7{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: green;
   margin-right: 60px;

 }  

  .book8{
   margin-top: 20px;
   float: left;
   height: 200px;
   width: 200px;
   background-color: yellow;
 

 } 
h1 {
    color: black;
    font-size: 20px;
    margin-bottom:20px;
}

p {
font-size: 20px;
color:black;
font-family: "Trebuchet MS", Helvetica, sans-serif; 


}

.txt-con:hover{
  background-color: #ccc;
  cursor:pointer;
}


i{
  background-color:red;
}

.book1page {
  border: 1px solid red;

}
#arrow_button {
   background-color: #32cd32; 
   color: white; 
   font-family: "Trebuchet MS", Helvetica, sans-serif; 

}

 .questions {

     background-color: blue;
     color: white;
     height:545px;

 }
 
  .btn_answer1 {
      margin-top: 10 px;
      margin-right: -10px;
      height: 35px;
      background-color:#32cd32;
      color: white;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-radius: 16%; 
 }

 #questions-page1-hide {
    display: none;
     visibility:  hidden;


 }

  .questions-page1-show {
    visibility: visible;


 }